$teal: #168491

body
    display: flex
    flex-direction: column
    min-height: 100vh

a,
.page-link
    &,
    &:visited
        color: $teal
    &.hallow
        color: coral
        font-weight: 600

.site-title,
.post-title,
.page-link,
.post-link,
.footer-heading,
h2
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif

.site-title
    &:hover
        text-decoration: none

.site-header
    border-top: none

.page-content
    flex: 1
    background-image: url('img/thepandalion-full.png')
    background-repeat: no-repeat
    background-position: center bottom
    background-size: 150px auto
    padding-bottom: 150px

a.button
    display: block
    max-width: 100px
    margin: 0 auto
    margin-top: 20px
    text-decoration: none
    text-align: center
    background: white
    border: 1px solid $teal
    color: $teal
    padding: 4px 10px
    transition: background-color 0.2s linear
    font-size: 13px
    &:hover
        text-decoration: none
        background-color: $teal
        color: white

.post-list
    li
        &::after
            content: ''
            height: 1px
            width: 60%
            background: #e8e8e8
            display: block
            margin: 0 auto
            margin-top: 20px
            margin-bottom: 40px
        &:last-child
            &::after
                content: none

.cp_embed_wrapper
    margin: 20px 0

// typography overrides
.post-content
    h2
        font-size: 26px
        margin-bottom: 10px

.post-2col
    display: flex
    align-items: flex-start
    flex-direction: row
    @include media-query($on-palm)
        flex-direction: column

.post-thumbnail
    float: left
    width: 40%
    padding-right: 25px
    padding-bottom: 20px
    @include media-query($on-palm)
        float: none
        width: 100%
        padding-right: 0
