/*light brown*/
/*dark brown*/
/*green*/
/*grey*/
@font-face {
  font-family: "Grandesign Neue Serif";
  src: url("../fonts/Grandesign_Neue_Serif.eot?") format("eot"), url("../fonts/Grandesign_Neue_Serif.woff") format("woff"), url("../fonts/Grandesign_Neue_Serif.ttf") format("truetype"), url("../fonts/Grandesign_Neue_Serif.svg#GrandesignNeueSerif") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, h1, h2, h3, p,
a, em, img, ol, ul, li, fieldset, form,
label, article, aside, figure, figcaption, footer,
header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "Grandesign Neue Serif", serif;
  letter-spacing: 0.1em;
  background-color: #cab38b;
  background-image: url("../img/tiling-bg2.png");
  background-position: 0 40px;
  background-repeat: repeat, no-repeat;
  padding: 6% 10%;
  font-size: 62.5%; }

ol, ul {
  list-style: none; }

em {
  font-style: italic; }

h1, h2 {
  color: #795d50;
  letter-spacing: 0.12em; }

p {
  color: #5c5c5c;
  font-size: 1.4em;
  line-height: 1.8em; }

.wrapper {
  background-color: white;
  max-width: 680px;
  box-shadow: 2px 3px 6px #a7987e;
  margin: 0 auto;
  padding: 32px 45px 32px 15px; }

/* --------------------- page header --------------------- */
header[role="page-header"] {
  height: 109px;
  position: relative;
  margin-bottom: 56px; }
  header[role="page-header"] img {
    position: absolute;
    left: -70px;
    top: -45px; }
  header[role="page-header"] h1 {
    position: absolute;
    bottom: 20px;
    left: 136px;
    font-size: 3.6em;
    margin-bottom: 15px; }
  header[role="page-header"] h2 {
    position: absolute;
    bottom: 0;
    left: 136px;
    color: #8aa920;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1.3em; }

/* --------------------- main section styling --------------------- */
section.main-content {
  clear: left;
  margin-left: 136px; }
  section.main-content header {
    position: relative;
    margin-bottom: 16px; }
  section.main-content h1 {
    font-size: 2.5em;
    padding-top: 75px;
    line-height: 1.2em; }
  section.main-content h2 {
    position: absolute;
    width: 122%;
    left: -160px;
    top: 0;
    background-color: #e1e1e1;
    background-image: url("../../assets/img/bamboo-header-icon.png");
    background-repeat: no-repeat;
    background-position: -3px 50%;
    padding: 12px 10px 12px 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 1.4em; }
  section.main-content p {
    margin-bottom: 20px; }
  section.main-content footer {
    clear: both;
    border-bottom: dashed 1px #d2d2d2;
    border-top: dashed 1px #d2d2d2;
    margin-bottom: 30px; }
    section.main-content footer p {
      padding: 10px 0;
      margin: 0;
      color: #795d50;
      text-transform: uppercase;
      font-size: 1.1em; }

/* --------------------- blog posts --------------------- */
section[role="blog-posts"] figure {
  background-color: #e1e1e1;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  margin-bottom: 30px; }
section[role="blog-posts"] figcaption {
  color: #5c5c5c;
  font-size: 1.2em;
  padding: 1em 0 1.1em 0;
  font-style: italic; }

/* --------------------- about me --------------------- */
section[role="about-me"] img {
  float: left;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5);
  box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5);
  padding: 10px;
  margin: 10px 30px 10px 0; }
section[role="about-me"] .tape {
  background-color: #cab38b;
  height: 20px;
  width: 50px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$amount-ms)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  position: absolute;
  left: 0;
  top: 0; }

/* --------------------- page footer --------------------- */
footer[role="page-footer"] {
  text-align: center; }
  footer[role="page-footer"] p {
    color: #795d50;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 1.1em; }
