.post
    background: #fff
    padding: $spacing-unit / 2
    padding-top: $spacing-unit * 2
    position: relative
    width: 100%

    @include media($media-width-medium)
        padding: $spacing-unit
        padding-top: $spacing-unit * 2

    @include media($media-width-large)
        padding: $spacing-unit * 2

    + .post
        margin-top: $spacing-unit

.post-body
    p,
    li
        font-size: 0.95rem

        @include media($media-width-small)
            font-size: 1rem

        @include media($media-width-medium)
            font-size: 1.05rem
            line-height: 1.4

        @include media($media-width-large)
            font-size: 1.1rem
            line-height: 1.5

.post-date
    background: $theme-color
    position: absolute
    top: $spacing-unit / 2
    left: 0
    padding: 5px ($spacing-unit / 2)
    min-width: 43px
    min-height: 32px

    .post-main-page &
        padding: 5px $spacing-unit

        @include media($media-width-medium)
            padding: 5px ($spacing-unit / 2) 5px $spacing-unit

.post-meta
    display: block
    font-family: $base-font-family
    font-weight: bold
    color: #fff

.post-title
    // make up for space added by after below
    margin-bottom: -6px

.post-thumbnail
    width: 100%
    display: block
    margin-left: auto
    margin-right: auto

.post-link
    color: $copy-color
    text-decoration: none
    transition: color 0.1s
    position: relative

    &:hover,
    &:focus,
    &:visited
        color: $copy-color

    &::after
        content: ''
        position: absolute
        left: 0
        bottom: -6px
        width: 100%
        height: 3px
        background: $theme-color
        transform: scaleX(0)
        transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s

    &:hover
        &::after
            transform: scaleX(1)


.post-footer
    @include flexbox
    @include flex-wrap(wrap)
    @include justify-content(flex-end)
    margin-top: $spacing-unit / 2
    margin-bottom: -6px

    @include media($media-width-medium)
        @include align-items(flex-end)
        margin-bottom: -($spacing-unit / 2)
        margin-right: -($spacing-unit / 2)

    @include media($media-width-large)
        margin: 0
        position: absolute
        right: $spacing-unit / 2
        bottom: $spacing-unit / 2

.read-more,
.go-back
    color: $theme-color
    font-size: 16px
    margin-top: $spacing-unit / 2
    display: inline-flex

    @include media($media-width-medium)
        font-size: 20px

.go-back
    @include media($media-width-medium)
        margin-top: $spacing-unit

.tag
    background: $bg-color
    font-size: 14px
    font-weight: bold
    border-radius: $spacing-unit / 2
    padding: 6px 18px
    display: inline-flex
    margin: 2px
    margin-bottom: 6px
    transition: background-color 0.3s

    @include media($media-width-large)
        margin: 0

        + .tag
            margin-left: $spacing-unit / 4

.post-main-page
    h2
        font-size: 20px

        @include media($media-width-medium)
            font-size: 30px

    h2.subtitle
        font-size: 20px

        @include media($media-width-medium)
            font-size: 24px

    .sub-info
        background-color: $bg-color
        padding: 20px
        margin-top: 20px

        &.with-links-area,
        &.flex-bookend-row
            @include flexbox
            @include justify-content(space-between)
            @include align-items(center)

    .links-area
        @include flexbox
        margin-top: 0

        a
            @include flexbox

            + a
                margin-left: 15px

            &::after
                content: none

        .icon
            width: 20px
            height: 20px
