body
    line-height: 1.4
    font-family: $base-font-family
    color: $copy-color

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol
    margin: 0
    + *
        margin-top: $spacing-unit / 2
        @include media($media-width-large)
            margin-top: $spacing-unit

h1,
h2,
h3,
h4,
h5
    font-family: $heading-font-family

h1
    font-size: 40px

h2
    $h2-size: 34px
    font-size: $h2-size / 1.5

    @include media($media-width-medium)
        font-size: $h2-size

a
    text-decoration: none
    color: $red
    font-weight: bold
    position: relative

    &:hover,
    &:focus,
    &:visited
        color: $purple

    &::after
        content: ''
        display: block
        position: absolute
        bottom: -2px
        left: 0
        width: 100%
        height: 1px
        background: $purple
        transform-origin: left
        transform: scaleX(0)
        transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s

    &:hover
        &::after
            transform: scaleX(1)

img
    max-width: 100%
    height: auto
