---
layout: default
---

<h1 class="page-heading">🦁 Posts by category</h1>

{% for category in site.categories %}
    <h2 name="{{ category | first }}">{{ category | first }}</h2>
        <ul>
            {% for posts in category %}
                {% for post in posts %}
                    {% if post.url %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
{% endfor %}
