<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pandalion's Den</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- turn off telephone number detection in safari -->
        <meta name="format-detection" content="telephone=no">
        <link href="/assets/css/main.css" rel="stylesheet">

    </head>
    <body>
        <header class="site-header">
            <div class="structure">
                stuff
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer class="site-footer">
            <div class="structure">
                stuff
            </div>
        </footer>
    </body>
</html>
