---
layout: default
---

<div class="home">

  <h1 class="page-heading">🐼 All posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.excerpt }}

        <a class="button" href="{{ post.url | relative_url }}">read more</a>
      </li>
    {% endfor %}
  </ul>

</div>
