---
layout: default
---

<div class="home">

    {{ content }}

    {% for post in site.posts %}
        <article class="post">
            <div class="post-date">
                {% assign date_format = "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
            </div>

            <h2 class="post-title">
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>

            {% if post.subtitle %}
                <h3 class="subtitle">{{ post.subtitle }}</h3>
            {% endif %}

            <div class="post-body">
                {{ post.excerpt }}
            </div>

            <a class="read-more" href="{{ post.url | relative_url }}">Read More</a>

            <footer class="post-footer">
                {% for category in post.categories %}
                    <div class="tag">
                        {{ category }}
                    </div>
                {% endfor %}
            </footer>
        </article>
    {% endfor %}

</div>
