*
    box-sizing: border-box

body
    width: 100%
    background-color: $bg-color

    &::before
        content: ''
        display: block
        height: 15px
        background: $purple
        width: 100%
        position: fixed
        top: 0
        left: 0
        z-index: 2

.inner-wrapper
    padding: $spacing-unit / 2

    @include media($media-width-medium)
        padding: $spacing-unit
        padding-top: 0
        padding-bottom: $spacing-unit / 2

    @include media($media-width-large)
        padding: $spacing-unit * 2
        padding-top: 0
        padding-bottom: $spacing-unit / 2

.structure
    max-width: $site-max-width
    margin: 0 auto

.flex-wrapper
    @include flexbox
    @include justify-content(center)
    @include flex-direction(column)

    @include media($media-width-medium)
        @include flex-direction(row)

.site-main
    @include media($media-width-medium)
        padding: $spacing-unit
        padding-right: 0

    @include media($media-width-large)
        padding: $spacing-unit * 2
        padding-right: 0

.site-footer
    text-align: center
    padding: $spacing-unit / 2
    padding-top: $spacing-unit
    padding-bottom: 0

    p
        font-size: 14px

    @include media($media-width-medium)
        text-align: right
        padding: 0
        padding-top: $spacing-unit
